## Project Specific
#################

# node/npm
node_modules
statics
*.log

# github
.github/

# build
build
.build-cache
.webpack-stats*
bundle.integrity.manifest.json

# test
test-results
.jest-cache
__diff_output__

## OSX
#################

[Tt]humbs.db
*.DS_Store

## Generic
#################

*.tmp
*.bak
*.cya
.vercel
